version: '3'
services:
        mica:
                image: obiba/mica
                ports:
                        - "8882:8082"
                links:
                        - mongo
                environment:
                        - JAVA_OPTS=-Xmx2G
                        - MICA_ADMINISTRATOR_PASSWORD=password
                        - MICA_ANONYMOUS_PASSWORD=password
                        - MONGO_HOST=mongo
                        - MONGO_PORT=27017
                        - OPAL_URL=http://opal:8080
                        - AGATE_URL=http://agate:8081
                volumes:
                        - /tmp/mica:/srv
        mongo:
                image: mongo:6.0
        opal:
                image: obiba/opal
                ports:
                        - "8880:8080"
                links:
                        - mongo
                environment:
                        - OPAL_ADMINISTRATOR_PASSWORD=password
                        - MONGO_HOST=mongo
                        - MONGO_PORT=27017
                        - AGATE_URL=http://agate:8081
                volumes:
                        - /tmp/opal:/srv
        agate:
                image: obiba/agate
                ports:
                        - "8881:8081"
                links:
                        - mongo
                environment:
                        - AGATE_ADMINISTRATOR_PASSWORD=password
                        - MONGO_HOST=mongo
                        - MONGO_PORT=27017
                        - RECAPTCHA_SITE_KEY=6Lfo7gYTAAAAAOyl8_MHuH-AVBzRDtpIuJrjL3Pb
                        - RECAPTCHA_SECRET_KEY=6Lfo7gYTAAAAADym-vSDvPBeBCXaxIprA0QXLk_b
                volumes:
                        - /tmp/agate:/srv
